body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #333;
  font-family: 'calibri', sans-serif;
  line-height: 24px;
  font-weight: 400;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
#menu {
  background: rgb(255, 0, 0);
}
#menu ul li {
  float: left;
}
#menu ul li a {
  padding: 15px 25px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
#menu ul li a:hover {
  background:   #cc0000;
  color: #fff;
}
#content-container {
  padding: 50px 25px;
}
.content {
  width: 75%;
  float: left;
}
.content h1 {
  margin-bottom: 30px;
}
.content-inner {
  padding-right: 75px;
}
.sidebar {
  width: 25%;
  float: left;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
a {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}     
#footer {
  background: red;
  height: 100px;
  width: 100%;
  text-align: center;
}
#footer p {
  color: #fff;
  line-height: 100px;
}    